<%= link_to 'Back', articles_path %>

<% if @article.errors.any? %>
  <h2>Error</h2>
  <div class="alert alert-danger">
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<%end %>
<%# Create a form using form_with %>
<%= form_with model: @article, local: true do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%# <%= f.text_area :description %> 
    <%= f.collection_select(:category_ids, Category.all, :id, :name, {prompt: "Choose"}, {multiple: true}) %>
  </p>
    <p>
    <%= f.label :category %><br />
    <%= f.text_area :category %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>