<h1>Users Index</h1>

<% @users.each do |user| %>
  <%= user.username %>
  <%= user.articles.length %>
  <%= link_to 'Show', user %>
  <% if logged_in? && user == current_user %>
    <%= link_to 'Edit', edit_user_path(user) %>
     <%= link_to 'Delete', user_path(current_user),
  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  <%= button_to "Destroy", user, method: :delete, data: { confirm: "You sure?" } %>



  <% end %>
  <br />
<% end %>